/*=================================================================================
|                                    VARIABLES                                    |
=================================================================================*/

// Primary Color
$clr--dark-green: #3b813e;
$clr--light-green: #47c94d;

$clr--dark-gray: #2b2b2b;
$clr--gray: #4e4e53;
$clr--light-gray: #868686;
$clr--blue: #0083e2;

$clr--btn-red: #bc3c3c;
$clr--btn-yellow: #eaa92c;
$clr--btn-blue: #3c8dbc;

$clr--btn-primary: #fabf24;
$clr--btn-secondary: #b0b0b0;

// Fonts
$font--primary: 'K2D';
$font--secondary: 'Inter';

//Font Size
$font-size-default: 1rem;		//16px		//Default, Button, Paragraph
$font-size-largest: 2.5rem;		//40px		//H1
$font-size-largest2: 2.1rem;	//33.6px	//H2
$font-size-larger: 1.6rem;		//25.6px	//H3
$font-size-larger2: 1.4rem;		//22px		//H4
$font-size-large: 1.1rem;		//17.6em	//H5
$font-size-small: 0.85rem;		//13.6px	//Footer(Contact Info)
$font-size-smaller: 0.75rem;	//12px		//Field Text, Footer Paragraph